einops==0.4.1
gensim==4.2.0
huggingface-hub==0.9.1
jieba==0.42.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.0
json5==0.9.8
LAC==2.1.2
networkx==2.8.6
ninja==1.10.2.3
nltk==3.7
numba==0.55.1
numpy==1.21.2
pandas==1.4.2
pgmpy==0.1.19
Pillow==9.1.0
pybind11==2.9.2
PyYAML==6.0
scikit-learn==1.1.1
scipy==1.8.0
seaborn==0.11.2
torch==1.11.0+cu115
palettable

transformers==4.22.1
wordcloud==1.8.1
